@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cinzel&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(202, 229, 231);
    font-family: 'Cinzel';
    margin: 0;
}
.titulo {
    text-align: center;
    margin: auto;
    padding: 2vh;
    border-bottom: solid 2px;
    font-size: 10vh;
    background: rgb(247 210 184 / 80%);
}
.agregarLibro {
    text-align: center;
    margin-top: 0;
    width: 100%;
    height: 8vh;
    padding-top: 1.5vh;
    border-bottom: solid 2px;
    background-color: rgb(190, 252, 190);
    font-size: 25px;
    font-family: 'Cinzel';
    cursor: pointer;
}
.libreria {
    max-width: 100vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}
.libroAgregado {
    max-width: 100%;
    margin: 0;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;
    background: linear-gradient(to bottom right, rgb(158, 158, 255), rgb(215, 249, 250));
    color: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.readAgregado {
    font-size: 2vw;
    border-top: solid 2px;
    margin-top: auto;
    border-bottom: solid 2px;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(163, 248, 146, 0.9), rgba(216, 250, 215, 0.8));
}
.removeAgregado {
    bottom: 0;
    font-size: 2vw;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(248, 146, 146, 0.9), rgba(250, 215, 215, 0.8));
}


/*formulario para agregar nuevo libro*/
.overlay {
    position: fixed;
    height: 0%;
    width: 30%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, rgb(158, 158, 255, 1), rgb(215, 249, 250, 0.9));
    overflow-y: hidden;
    transition: 0.3s;
    overflow: hidden;

}
  
.overlay-content {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display:grid;
    grid-gap: 5%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
       "newTitle newTitle newTitle"
       ". newBook faltaTitulo"
       "faltaAuthor newAuthor ."
       ". newPages faltaPaginas"
       ". newRead ."
       "nuevoLibro . cancel"
}
@media only screen and (max-width: 700px) {
    .overlay-content {
        width: 100vw;
        height: 100vh;
        text-align: center;
        display:grid;
        grid-gap: 5%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
           "newTitle newTitle newTitle"
           "newBook newBook newBook"
           "newAuthor newAuthor newAuthor"
           "newPages newPages newPages"
           "newRead newRead newRead"
           "nuevoLibro . cancel"
           "nuevoLibro . cancel"
    }
    .newTitle {
        grid-area: newTitle;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7vw!important;
        width: 100vw;
        margin-bottom: 0;
        font-family: 'Cinzel';
        border-top: solid 2px;
        border-bottom: solid 2px;
        background: linear-gradient(to bottom right, rgba(158, 255, 171, 0.9), rgba(215, 250, 235, 0.8));
    }
    .newBook {
        grid-area: newBook;
        position: absolute;
        top: 25%;
        left: 10%;
        font-size: 7vw!important;
        width: 80vw;
        font-family: 'Cinzel';
        border: solid 2px;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
    }
    .newAuthor {
        grid-area: newAuthor;
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 7vw!important;
        width: 80vw;
        font-family: 'Cinzel';
        border: solid 2px;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
    }
    .newPages {
        grid-area: newPages;
        position: absolute;
        top: 55%;
        left: 10%;
        font-size: 7vw!important;
        width: 80vw;
        font-family: 'Cinzel';
        border: solid 2px;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
    
    }
    
    .newRead {
        grid-area: newRead;
        position: absolute;
        top: 65%;
        left: 10%;
        font-size: 7vw!important;
        width: 80vw;
        border: solid 2px;
        border-radius: 5px;
        cursor: pointer;
        background: linear-gradient(to bottom right, rgba(248, 146, 146, 0.9), rgba(250, 215, 215, 0.8));
    }
    
    .nuevoLibro {
        font-family: 'Cinzel';
        grid-area: nuevoLibro;
        position: absolute;
        top: 85%;
        left: 2%;
        font-size: 6vw!important;
        border-radius: 5px;
        margin: 1vw;
        cursor: pointer;
        background: linear-gradient(to bottom right, rgba(163, 248, 146, 0.9), rgba(216, 250, 215, 0.8));
    }
    .cancel {
        font-family: 'Cinzel';
        grid-area: cancel;
        position: absolute;
        top: 85%;
        left: 63%;
        font-size: 6vw!important;
        border-radius: 5px;
        margin: 1vw;
        cursor: pointer;
        background: linear-gradient(to bottom right, rgba(248, 146, 146, 0.9), rgba(250, 215, 215, 0.8))
    }
}
.newTitle {
    grid-area: newTitle;
    font-size: 5vw;
    margin-bottom: 0;
    font-family: 'Cinzel';
    border-top: solid 2px;
    border-bottom: solid 2px;
    background: linear-gradient(to bottom right, rgba(158, 255, 171, 0.9), rgba(215, 250, 235, 0.8));
}
.newBook {
    grid-area: newBook;
    font-size: 2vw;
    font-family: 'Cinzel';
    border: solid 2px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
}
.newAuthor {
    grid-area: newAuthor;
    font-size: 2vw;
    font-family: 'Cinzel';
    border: solid 2px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
}
.newPages {
    grid-area: newPages;
    font-size: 2vw;
    font-family: 'Cinzel';
    border: solid 2px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;

}

.newRead {
    grid-area: newRead;
    font-size: 2vw;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(248, 146, 146, 0.9), rgba(250, 215, 215, 0.8));
}

.nuevoLibro {
    font-family: 'Cinzel';
    grid-area: nuevoLibro;
    font-size: 2vw;
    border-radius: 5px;
    margin: 1vw;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(163, 248, 146, 0.9), rgba(216, 250, 215, 0.8));
}
.cancel {
    font-family: 'Cinzel';
    grid-area: cancel;
    font-size: 2vw;
    border-radius: 5px;
    margin: 1vw;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgba(248, 146, 146, 0.9), rgba(250, 215, 215, 0.8))
}
.faltaTitulo {
    grid-area: faltaTitulo;
    visibility: hidden;
    margin: 0;
    color: red;
    font-size: 2vw;
}
.faltaAuthor {
    grid-area: faltaAuthor;
    visibility: hidden;
    color: red;
    font-size: 2vw;
    margin: 0;
}
.faltaPaginas {
    grid-area: faltaPaginas;
    visibility: hidden;
    color: red;
    font-size: 2vw;
    margin: 0;
}