* {
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 231, 231);
    font-family:'arial';
}
.libreria {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}
.libroAgregado {
    width: 100%;
    text-align: center;
    /*background-image: url(img/gettyimages-155369449-612x612.jpg);
    filter: grayscale(75%) blur(1px);*/
    font-size: 30px;
    color: red;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
}


.overlay {
    margin: center;
    height: 0%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 38, 255, 0.5);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }